<% if flash[:notice] %>
  <div class="C">
  	<%= flash[:notice] %>
  	Book was successfully created.
  </div>
<% end %>
</div>

<h3>Books</h3>
	<table>
	<thead>
	<tr>
	<th><h4>Title</h4></th>
	<th><h4>Body</h4></th>
	<th></th>
	</tr>
	</thead>

<tbody>
<% @books.each do |book| %>
<tr>
<td><%= book.title %></td>
<td><%= book.body %></td>
<td>
<%= link_to "show", book_path(book.id) %>
<%= link_to "edit", edit_book_path(book.id) %>
<%= link_to "destroy", book_path(book.id), method: :delete %>
</td>
</tr>
	<% end %>
</tbody>
	</table>




<h3>New book</h3>

<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
  	<h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- form_for部分 -->
<%= form_for(@book) do |f| %>

<%= f.label :title, "Title" ,class: "Title" %><br>
<%= f.text_field :title %> <br>

<%= f.label :body, "Body" ,class: "Body" %> <br>
<%= f.text_area :body %> <br>

<br><%= f.submit 'Create Book' %></br>

<% end %>